/node_modules
/.env
/coverage

#Ignore access.log files
access.log

# Ignore all .env files in the root of a repository
**.env
**.env.local
**.env.development
**.env.test
**.env.production
**.env.staging
**.env.local
**.env.*